<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src='{{url_for("static",filename="js/nav.js")}}'></script>
</head>

<body>
  <div class="w3-container">
    <h2>{{currentPromptNumber}}</h2>
    <p>{{prompt1}}</p>
    <p>{{prompt2}}</p>
  </div>
  
  <div class="w3-container">
    <form onsubmit="return handleSubmit(event)">
      <input type="submit"  class="w3-button w3-black" value="prev">
      <input type="submit"  class="w3-button w3-black" value="next">
      <!-- <input type="button" onclick="done('/prompt/30')" class="w3-button w3-black" value="prev">
      <input type="button" onclick="done('/prompt/50')" class="w3-button w3-black" value="next"> -->
      <input type="hidden" name="currentPromptNumber" value="{{currentPromptNumber}}">
      <!-- <input type="hidden" name="maxPromptNumber" value="{{maxPromptNumber}}"> -->

    </form>
  </div>

  <h1>Prompt {{currentPromptNumber}}</h1>
  <div class="w3-container">
  <p class="w3-small">
  Read both statements. Click the button for the statement that is most true for you.
  </p>
  </div>
  <div class="w3-cell-row">
    <div class="w3-white w3-cell w3-panel">
      <div class="w3-card w3-panel w3-khaki">
      <p>{{prompt1}}</p>
      <div class=" w3-center w3-panel">
      <button class="w3-button w3-blue">agree</button>
      </div>
      </div>

    </div>
    <div class="w3-white w3-cell w3-panel">
    <div class="w3-card w3-panel w3-gray">
      <p>{{prompt2}}</p>
      <div class=" w3-center w3-panel">
      <button class="w3-button w3-red">agree</button>
      </div>
    </div>
    </div>
  </div>
  <div class = "w3-panel" >
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:{{percentComplete}}%">{{percentComplete}}%</div>
  </div>
  </div>


</body>

</html>